@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #000000;
  color: #c9d1d9;
  line-height: 1.6;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 60px;
}

h1 {
  color: #f0f6fc;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #f0f6fc;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

p {
  margin-bottom: 15px;
  font-size: 0.9rem;
}

a {
  color: #58a6ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  background-color: transparent;
  color: #58a6ff;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid #58a6ff;
  font-size: 0.8rem;
}

.btn:hover {
  background-color: #58a6ff;
  color: #0d1117;
}

.section {
  margin-bottom: 40px;
}

.section-title {
  font-size: 1.6rem;
  border-bottom: none;
  padding-bottom: 5px;
  margin-bottom: 20px;
  color: #f0f6fc;
}

.project-card {
  background-color: #000000;
  border: 1px solid #30363d;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: calc(50% - 20px);
}

.project-card h3 {
  color: #e6edf3;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.project-card .year-status {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.project-card .year {
  font-size: 0.65rem;
  color: #c9d1d9;
  margin-right: 10px;
}

.project-card .status {
  font-size: 0.65rem;
  color: #2ea043;
  padding: 3px 8px;
  border-radius: 20px;
  border: 1px solid #2ea043;
}

.project-card p {
  font-size: 0.7rem;
  margin-bottom: 15px;
  color: #c9d1d9;
}

.project-card .tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.project-card .tag {
  font-size: 0.6rem;
  color: #FFFFFF;
  padding: 3px 8px;
  border-radius: 20px;
  border: 1px solid #FFFFFF;
  background-color: #000000;
  margin-right: 5px;
  margin-bottom: 5px;
}

.project-card .website-btn {
  display: inline-flex;
  align-items: center;
  background-color: #000000;
  color: #FFFFFF;
  padding: 3px 8px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 1px solid #FFFFFF;
  font-size: 0.7rem;
}

.project-card .website-btn svg {
  margin-right: 5px;
}

.project-card .website-btn:hover {
  background-color: #FFFFFF;
  color: #000000;
}
.project-card .tag:hover {
  background-color: #FFFFFF;
  color: #000000;
}
.project-card .status:hover {
  background-color: #2ea043;
  color: #000000;
}

.skills-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.skills-list li {
  background-color: transparent;
  color: #58a6ff;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #58a6ff;
  font-size: 0.8rem;
}

.contact-icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  align-items: center;
}

.contact-icons a {
  font-size: 1rem;
  color: #c9d1d9;
  display: flex;
  align-items: center;
}

.contact-icons a svg {
  margin-right: 5px;
}

.contact-icons a:hover {
  color: #f0f6fc;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #30363d;
}

footer p {
  font-size: 0.8rem;
}

/* @media (max-width: 700px) {
  .project-card {
    width: 100%;
  }
} */

.skills-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.skills-section .skill {
  font-size: 0.8rem;
  color: #FFFFFF;
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #FFFFFF;
  background-color: #000000;
}

.skills-section .skill:hover {
  background-color: #c9c4c3;
  color: #000000;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.header-section .info {
  flex: 1;
}

.header-section h1 {
  font-size: 1.8rem;
  color: #f0f6fc;
  margin-bottom: 5px;
}

.header-section p {
  font-size: 0.8rem;
  color: #c9d1d9;
}

.header-section .profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #c9d1d9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header-section .profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-section {
  margin-bottom: 20px;
}

.about-section p {
  font-size: 0.8rem;
  color: #c9d1d9;
}

.contact-links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.contact-links a {
  font-size: 0.8rem;
  color: #c9d1d9;
  display: flex;
  align-items: center;
}

.contact-links a svg {
  margin-right: 5px;
}

.contact-links a:hover {
  color: #f0f6fc;
}

/* Entry animation */
.animated-content {
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 700px) {
  .container {
    padding: 15px;
    padding-top: 40px;
  }

  .header-section {
    flex-direction: column;
    text-align: center;
  }

  .header-section .info {
    order: 2;
  }

  .header-section .profile-pic {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    order: 1;
  }

  .project-card {
    width: 100%;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .skills-section {
    justify-content: center;
  }
}
